@import "~bootstrap/scss/bootstrap.scss";

li:hover span {
	opacity: 1;
	width: 40px;
}

span {
	background: tomato;
	height: 27px;
	width: 0;
	margin-right: 10px;
	margin-left: -10px;
	text-align: center;
	display: inline-block;
	color: white;
	opacity: 0;
	transition: 0.2s linear;
}